# MakeCode
built
node_modules
yotta_modules
yotta_targets
pxt_modules
.pxt
_site
*.db
*.tgz
.header.json
.simstate.json

# Twine (kira_story)
kira_story/build/tools

# Twine (marko_story)
marko_story/build/tools
